.items {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 40px;
    background-color: #f05d40;
    top: 10%;
    text-align: center;
    line-height: 40px;
    transition: width 0.2s ease-out;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  &:hover {
    &::before {
      content: "🛒";
      display: block;
      width: 100px;
      cursor: pointer;
    }
  }
}
