.navbar {
  background-color: #ceb195 !important;
  color: black !important;
  font-weight: bold;
}

.navbar i {
  font-size: 24px;
}

.navbar .m-auto a {
  margin: 0 24px;
}

/* .navbar a {
  color: black !important;
} */

.navbar .active {
  border-bottom: 1px solid black;
}

@media screen and (min-width: 1024px) {
  .order-detail-box {
    margin-left: 250px;
  }
}

.text403:hover {
  opacity: 0.6;
}
