body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;


}

html,
body {
  overflow-x: hidden;
}

.shadow-box {
  box-shadow: 7px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.faj-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  background-color: #d9d9d9;
}

Button:hover {
  opacity: .8;
}

* {
  scroll-behavior: smooth;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}