body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

.shadow-box {
  box-shadow: 7px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.faj-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  background-color: #ffe7c8;
}

Button:hover {
  opacity: 0.8;
}

* {
  scroll-behavior: smooth;
}

.pagination {
  margin-bottom: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.screen-blur {
  filter: blur(10px);
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff75;
  border-radius: 100rem;
}

*::-webkit-scrollbar-track {
  background-color: #18191a;
  border-radius: 100rem;
}
